.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #3d0cde;
  color: black;
}


.topnav a.active {
  background-color: #06a4af;
  color: white;
}

table, label {
  font-size: 20px;
}


th, td {
   outline: solid;
   padding: 5px;
}

#error {
  color: red;
  font-size: 20px;
}

#success {
  color: rgb(3, 175, 3);
  font-size: 20px;
}