{% extends "index.html" %}

{% block title %}
    <title>Banks</title>

{% endblock %}

{% block body %}
    <div class="topnav">
        <a href="/">Home</a>
        <a href="business">Business</a>
        <a href="vendors">Vendors</a>
        <a class="active" href="banks">Banks</a>
        <div class="right-nav">
            <a href="logout">Logout</a>
            <a>Week: {{ msgs[0] }}</a>
            <a href="advance">Advance 1 Week</a>
            <a>£{{ msgs[1] }}</a>
        </div>
    </div>


    <div>
        <h1>Banks</h1>
        <table style="text-align: center;">
            <tr>
                <th>Bank Name</th>
                <th>Maximum Credit (£)</th>
                <th>Interest Rate (%)</th>
                <th>Request Credit (£)</th>
            </tr>
            {% for i in range(msgs[2] | length) %}
            <tr>
                <form method="POST">
                    <td>{{ msgs[2][i]["Name"] }}</td>
                    <td>{{ msgs[2][i]["Max Amount"] }}</td>
                    <td> {{ msgs[2][i]["Interest" ]}} </td>
                    <td>
                        <input type="hidden" name="index" id="index" value="{{ i }}">
                        <input type="number" min="0.01" max="{{ msgs[2][i]["Max Amount"] }}" step="0.01" name="amount" id="amount" placeholder="Amount">
                        <input type="submit" value="Submit">
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
        <br><br> 
        <p name="error" id="error">{{ msgs[3] }}</p>
        <p name="success" id="success">{{ msgs[4] }}</p>
    </div>

    <div>
        <h1>Repay Credit</h1>
        {% if msgs[5] | length == 0 %}
            <p>No credit to repay</p>
        
            {% else %}
        <table>
            <tr>
                <th>Bank Name</th>
                <th>Amount Due (£)</th>
                <th>Interest (%)</th>
                <th>Payment Date (weeks)</th>
                <th>Repay Credit</th>
            </tr>
            {% for loan in msgs[5] %}
            <tr>
                <td>{{ loan["Name"] }}</td>
                <td>{{ "{:.2f}".format(loan["Amount"]) }}</td>
                <td> {{ loan["Interest" ]}} </td>
                <td> {{ loan["Payment Date"] }}</td>
                <td>
                    <form action="/repay" method="POST">
                        <input type="hidden" name="bank" id="bank" value="{{ loan["Name"] }}">
                        <input type="number" name="repayAmount" id="repayAmount" min="0" max="{{ loan["Amount"] }}" step="0.01">
                        <input type="submit" value="Submit"> 
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <p name="error" id="error">{{ msgs[6] }}</p>
        <p name="success" id="success">{{ msgs[7] }}</p>
    </div>
{% endblock %}