{% extends "index.html" %}

{% block title %}
    <title>Business</title>

{% endblock %}

{% block body %}
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="business">Business</a>
        <a href="employee">Employee</a>
        <a href="personal">Personal</a>
        <a href="vendors">Vendors</a>
        <a href="banks">Banks</a>
        <a href="logout" style="float: right">Logout</a>
    </div>
        <h1>Resources</h1>
        <p>Your resources listed here - what are you selling</p>

        <h1>Expenses</h1>
        <h2>Daily</h2>
        <p>Daily expenses, do some maths</p>
        <h2>Monthly</h2>
        <p>Monthly expenses, do some maths</p>
        <h2>Annually</h2>
        <p>Annual expenses, do some maths</p>
    </div>
{% endblock %}