{% extends "index.html" %}

{% block title %}
    <title>Employee</title>

{% endblock %}

{% block body %}
    <div class="topnav">
        <a href="/">Home</a>
        <a href="business">Business</a>
        <a class="active" href="employee">Employee</a>

        <a href="vendors">Vendors</a>
        <a href="banks">Banks</a>
        <a href="logout" style="float: right">Logout</a>
        <a style="float: right">Week : {{time}}</a>
        <a href="advance" style="float: right">Advance 1 Week</a>
        <a style="float: right"> £{{ money }}</a>
    </div>


    <div>
        <h1>Employees</h1>
        <p>Employee name, salary, job (??) </p>    
    </div>
{% endblock %}