<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Finance Ting</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    {% block body %}
    <nav class="topnav">
        <a class="active" href="">Home</a>
        <a href="business">Business</a>
        <a href="vendors">Vendors</a>
        <a href="banks">Banks</a>
        <div class="right-nav">
            <a href="logout">Logout</a>
            <a>Week: {{ time }}</a>
            <a href="advance">Advance 1 Week</a>
            <a>£{{ money }}</a>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main class="content">
        <h1>Homepage</h1>
        <h3>Welcome back {{ session["user"] }}! </h3>
        <br>
        <h2>Sales Report for the Last Week</h2>

        {% if sold | length == 0 %}
        <p class="no-report">You have no report for the past week.</p>
        {% else %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Amount Sold</th>
                        <th>Sold At Price (£)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sold %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ sold[item][0] }}</td>
                        <td>{{ "{:.2f}".format(sold[item][1]) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <td>{{ amount }}</td>
                        <td>{{ rev }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% endif %}
    </main>
    {% endblock %}
</body>
</html>
