<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Finance Ting</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    {% block body %}
    <div class="topnav">
        <a class="active" href="">Home</a>
        <a href="business">Business</a>
        <a href="employee">Employee</a>
        <a href="personal">Personal</a>
        <a href="vendors">Vendors</a>
        <a href="banks">Banks</a>
        <a href="logout" style="float: right">Logout</a>
    </div>


    <div>
        <h1>Homepage</h1>
        <p>This is the home page. No clue what to display here.</p>
        <h2>Suggestions</h2>
        <p>Amazing suggestions</p>
        <h2>News</h2>
        <p>What is currently happening</p>
    </div>
    {% endblock %}
</body>
</html>