<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body style="text-align: center;"><br><br><br>
    <h1 style="font-size: 100px;">Username</h1>
    <form method="POST">
            <input type="text" name="username" id="username" autofocus="on" autocomplete="off" style="height: 30px; width:200px; font-size: 25px;"><br><br>
            <input type="submit" value="Submit" style="height: 30px; width: 70px;">
    </form>
    <br>
    <p name="error" id="error" style="color: red; font-size: 20px;">{{ text }}</p>
</body>
</html>