{% extends "index.html" %}

{% block title %}
    <title>Personal</title>

{% endblock %}

{% block body %}
    <div class="topnav">
        <a href="/">Home</a>
        <a href="business">Business</a>
        <a href="employee">Employee</a>
        <a class="active" href="personal">Personal</a>
        <a href="vendors">Vendors</a>
        <a href="banks">Banks</a>
        <a href="logout" style="float: right">Logout</a>
    </div>


    <div>
        <h1>Personal</h1>
        <p>Personal details, username, business, money, loans, debt, etc. </p>
    </div>
{% endblock %}